
body{
	background: #86C560;
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0%;
}

#line{
	background: #6eb5ce;
	padding: 1%;
}

#banner{
	padding:0.5%;
	background: #fff;
}

#banner h1{
	font-family: 'Impact';
    font-size: 200%;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited{
	color: black;
	text-decoration: none;
}

a:hover{
	color: blue;
}

.container{
	width: 100%;
	height: 90%;
	margin: 1%;
	float: left;
}

.container1{
	width: 100%;
	height: 100%;
	margin: 1%;
	float: left;
}

.content{
	width: 46%;
	height: 95%;
	float: left;
	padding: 1%;
	background: #eeeeee;
	margin-right: 1%;

}

#comparison{
	width: 46%;
	height: 95%;
	float: left;
	padding: 1%;
	background: #ffffff;
	margin-left: 1%;

}

#part1{
	display: inline-block;
	text-align: center;
}

#part1 input {
	font-size: 100%;
	font-family: Arial;
	border: none;
}

#part2 input {
	font-family: Arial;
	font-size: 90%;
	border: none;
}

button{
	border: none;
	/*height: 25px;*/
	font-size: 100%;
	background: none;
}

button:hover{
	font-weight: bold;
}

