#banner{
	width: 100%;
	height: 50px;
	background: #6eb5ce;
	float: left;
}

body{
	background: #aad16d;
	font-family: 'Montserrat', sans-serif;
}

.container{
	width: 100%;
	margin: 10px;
	float: left;
}

.content{
	width: 40%;
	float: left;
	padding: 10px;
	background: #eeeeee;
}

#comparison{
	width: 55%;
	float: left;
	padding: 10px;
	background: #ffffff;
}
